/* ***** Globals ***** */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

*,* {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: relative; /* used so the chlid header element can be absolutely positionsed */
  padding: 0;
  margin: 0;
}

.section-heading {
  font-size: 38px;
  font-weight: 300;
  padding: 0 20px;
  text-align: center;
}


/* ***** Header Section ***** */

.website-header {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
  background-color: rgb(72 76 78 / 50%);
}

.logo {
  display: inline-block;
  position: absolute;
  left: 25px;
  top: 20px;
  border: none;
  background-color: transparent;
}

.logo img {
  width: 120px;
}

.website-navigation {
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 30px;
  width: 450px;
  text-align: center;
  background-color: rgb(219, 234, 240);
}

/* Menu */
.menu  {
  display: inline-block;
  background-color: rgb(219, 234, 240);
}
.menu ul {
  padding: 0;
}
.menu li {
  display: inline;
  margin: 12px;
  
}
.menu li a {
  text-decoration: none;
  color: #227edd;
  
  font-variant: small-caps;
  font-size: 16px;
  cursor: pointer;
}

.menu li a:hover {
  color: #1668ac;
}

.scroll-to-top {
  position: fixed;
  display: none;
  bottom: 30px;
  right: 30px;
  border: 1px solid blue;
  width: 100px;
  height: 50px;
  z-index: 100;
}

.showBtn {
  display: inline;
  /* border: 1px solid red; */
}

/* ***** Hero Unit Section ***** */

.hero-unit {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-image: url(../img/hero-unit.jpg);
}

.website-heading {
  position: absolute;
  font-size: 42px;
  top: 250px;
  left: 75px;
  font-weight: 300;
}


/* ***** Services ***** */

.services {
  background: transparent;
  border: none; /* TODO: remove */
  /* margin-top: -85px; */
}

.services--heading {

}

.services-list-inner {
  text-align: center;
  padding: 0 35px;
  background: transparent;
}

.service {
  display: inline-block;
  position: relative;
  width: 275px;
  margin: 30px;
  box-shadow: 0px 0px 15px rgb(211 210 210);
  border: 1px solid rgb(211, 210, 210);
  border-radius: 5px;
  z-index: 100;
  background-color: #f1f1f1;
}

.services .title {
  padding: 10px;
  font-weight: 500;
}

.service .image {
  width: 100%; 
}

.services .label {
  position: absolute;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 5px 0 5px 0;
  right: 5px;
  bottom: -2px;
  background-color: white;
  color: rgb(65, 65, 65);
  padding: 2px 3px;
  background-color: rgb(218, 216, 216);
}

.filter-component {
  display: block;
  background: transparent;
  /* margin-top: -85px; */
  text-align: center;
}

.filter-component #filter-by-label {
  height: 30px;
  border-radius: 5px;
  border: yellow;
  background-color: #e7e5e5;
  font-size: 12px;
}

.filter-input {
  font-size: 16px !important;
  padding: 0 10px;
  color: #227edd;
  width: 103px;
}

.filter-component #filter-by-label input {
  border: 2px solid yellow;
}

#filter-btn {
  padding: 5px 10px;
  border: 1px solid lightblue;
  border-radius: 5px;
  font-size: 15px;
  background-color: #2196F3;
  color: white;

}

/* ***** Deals Section ***** */

.deals {
  background-color: rgb(236, 236, 236);
  padding: 20px;
  padding: 20px 20px 60px 20px;
}

.deals--heading {
  padding: 10px 20px;
  margin: 0 !important;
  
}
.deals-inner {
  /* background-color: rgb(243 243 243); */
  background-color: none;
  border-radius: 10px;
}
/* .deals-heading {
  font-size: 32px;
  font-weight: 300;
  padding: 0 20px;
} */

.deals-list {
  width: 100%;
  text-align: center;
  padding: 20px;
}

/* deals arrow buttons */

.deals-arrow {
  width: 60px;
  height: 35px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* border: 1px solid rgb(248, 248, 248); */
  border: none;
  padding: 2px;
  position: absolute;
}

.deals-arrow:hover {

  
}

#prev-deal {
  background-image: url(../img/left-arrow.png);
  left: calc(50% - 25%);
}
#prev-deal:hover {
  left: calc(50% - 25.2%);
}

#next-deal {
  background-image: url(../img/right-arrow.png);
  right: calc(50% - 25%);
}
#next-deal:hover {
  right: calc(50% - 25.2%);
}

.deal {
  display: inline-block;
  width: 49%;
  min-width: 350px;
  padding: 20px;
  box-sizing: border-box;
  /* background-color: rgb(237 237 237); */
  background-color: rgb(249 249 249);
  border: 1px solid #e5e5e5;
  font-weight: 300;
  text-align: left;
  
}

.deal .box {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  width: 49%;
  
}
.deal:first-child {
  margin-right: 15px;
  border-radius: 10px 0 0 10px;
}
.deal:nth-child(2) {
  border-radius: 0 10px 10px 0;
}

.deal-heading {
  text-align: left;
  padding: 20px 20px;
  font-weight: 500;
}

.deal-image {
  max-width: 100%;
  height: auto;
}


/* ***** Projects Section ***** */

.projects {
  text-align: center;
}

.projects-inner {
  display: inline-block;
  width: 85%;
  padding: 30px 40px;
  background-color: #f7f7f7;
  border-radius: 15px;
}

.box1 {
  grid-area: left;
}
.box2 {
  grid-area: middle;
}
.box3 {
  grid-area: right;
}
.box1,
.box2,
.box3 {
  text-align: center;
}

.project {
  border: 1px solid #ddd;
  border-radius: 15px;
  display: grid;
  grid-template-areas:
    'left middle right';
  gap: 10px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 30px;
  transition:all;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  opacity: 1;
}

.hidden {
  opacity: 0;
  border: 1px solid red;
}

.project .box{
  border: 1px solid gray;
}

.project-image {
  width: 100%;
  max-width: 220px;
  border-radius: 15px;
}

.projects--heading {
  padding: 20px 20px;
}

.load-more-btn {
  border: none;
  background: none;
  color: #2196F3;
  cursor: pointer;
  font-size: 16px;
}
.load-more-btn:hover {
  color: #1668ac;
}