/* ***** Hero Unit Section ***** */

.hero-unit {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-image: url(../assets/img/hero-unit.jpg);
}

.website-heading {
  position: absolute;
  font-size: 42px;
  top: 250px;
  left: 75px;
  font-weight: 300;
}
